<ion-content class="loginPage">
<div class="wave-container">
 <img src="assets/imgs/osteolife.png" width="200"  alt="mainlogo">
</div>
	
<ion-grid>
	<ion-row>
		<ion-col size="12">
			<div class="signIn">
			<h3 class="title">Register</h3>
			<div class="login-item">
				<ion-icon src="/assets/user.svg"></ion-icon>
				<ion-input type="text" placeholder="Enter your firstname"></ion-input>
			</div>
			<div class="login-item">
				<ion-icon src="/assets/user.svg"></ion-icon>
				<ion-input type="text" placeholder="Enter your lastname"></ion-input>
			</div>
			<div class="login-item">
				<ion-icon src="/assets/email.svg"></ion-icon>
				<ion-input type="text" placeholder="Enter your email"></ion-input>
			</div>
			<div class="login-item">
				<ion-icon src="/assets/lock.svg"></ion-icon>
				<ion-input type="text" placeholder="Enter your password"></ion-input>
			</div>
			<div class="login-item">
				<ion-icon src="/assets/phone.svg"></ion-icon>
				<ion-input type="text" placeholder="Enter your phone number"></ion-input>
			</div>
			<div class="login-item">
				<ion-button class="signinBtn">Register</ion-button>
			</div>
			<div class="login-item register">
				<p>Already have an account? <span>Sign in</span></p>
			</div>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>